@import "~bulma/sass/utilities/initial-variables";

// Config vars
$theme-yellow: #fd9d32;
$kaldi-red-invert: #fff;

$primary: $theme-yellow;
$primary-invert: $kaldi-red-invert;
@import "~bulma";

html, body {
  background-color: #fafafa;
}

.hero {
  position: relative;
  + .container {
    @media(min-width: 768px) {
      //margin-top: -3em;
    }
  }
  .title {
    background: $theme-yellow;
    display: inline-block;
    padding: .2em .3em .25em .3em;
  }
}

.hero-image {
  position: absolute !important;
  width: 100%;
  height: 100%;
}

.hero-body {
  > .container {
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.navbar {
  background-size: cover;
  min-height: 5.25rem !important;
}

.inline-image {
  width: 50%;
  float: right;
  margin: 0 0 20px 20px;
  @media(min-width: 768px) {
    width: 35%;
  }
}

.custom-box {
  padding: 2rem;
}

.react-photo-gallery--gallery {
  img {
    cursor: pointer;
    transition: all .2s ease-out;
    &:hover {
      transform: scale(1.02);
    }
  }
}

.full-width-image-container {
  // Helper Classes
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important
}