@import "~bulma/sass/utilities/initial-variables";

// Config vars
$theme-yellow: #fd9d32;
$inverted: #fff;

$primary: $theme-yellow;
$primary-invert: $inverted;
@import "~bulma";

html, body {
  background-color: #fafafa;
}

.hero {
  position: relative;
  .title {
    background: $theme-yellow;
    display: inline-block;
    padding: .2em .3em .25em .3em;
  }
}

.hero-image {
  position: absolute !important;
  width: 100%;
  height: 100%;
}

.hero-body {
  > .container {
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.navbar {
  background-size: cover;
  @media(min-width: $desktop) {
    min-height: 5.25rem !important;
  }
}

.inline-image {
  width: 35%;
  float: right;
  margin: 0 0 1em 1em;
}

.custom-box {
  padding: 2rem;
  @media(max-width: $tablet) {
    padding: 0;
  }
}
.react-photo-gallery--gallery {
  img {
    cursor: pointer;
    transition: all .2s ease-out;
    &:hover {
      transform: scale(1.02);
    }
  }
}

.full-width-image-container {
  // Helper Classes
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex-basis: calc(50% - 4px);
    margin: 2px;
    position: relative;
    @media(max-width: $tablet) {
      flex-basis: 100%;
    }
    &:hover, &:focus {
      .videos__name {
        opacity: 0;
      }
    }
  }
  &__name {
    color: #fff;
    position: absolute;
    top: 0;
    opacity: 1;
    transition: all .2s ease-out;
    font-size: 18px;
    padding: .5em;
  }
}
.mitte-inimestele {
  display: none;
}
iframe {
  max-width: 100%;
}
.moving {
  text-align: center;
  background: #fd9119;
  color: #fff;
  padding: 5px 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  > a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
  }
}